@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

header {
	margin-bottom: 20px;
	padding: 0;
	background: #F1FAF5;
}

body {
	background: #F4F4EE;
}

svg {
	width: 200px;
	height: 100px;
}

.container-fluid {
	padding: 0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

nav ul li {
	display: inline;
}

.logo {
	padding: 14px;
}

.border-bottom {
	border-bottom:1px solid #c0d8cd;
}

#primaryNav {
	background: #FFF; 
	background: -webkit-linear-gradient(#fff 0%, #eef3f1 100%);
	background: -o-linear-gradient(#fff 0%, #eef3f1 100%);
	background: linear-gradient(#fff 0%, #eef3f1 100%);
	margin:0;
	padding:0;
	height: 40px;
	margin-top:40px;
	border-top:1px solid #c9eada;
}

#primaryNav a {
	color: #88A596;
	display: inline-block;
	padding: 10px 15px;
	border-left:1px solid #DDD;
}

#primaryNav ul, #secondaryNav ul {
	margin:0;
	padding:0px 0px;
}

#primaryNav li.selected a {
	background: #FFF;
    color: #444;
    font-weight: bold;
    height: 50px;
    border: 1px solid #999;
    box-shadow: 0px 0px 4px #999;
    border-radius: 5px 5px 0 0;
    top: -6px;
    position: relative;
}

#primaryNav li.selected + li a {
	border-left: 0;
}

.navBG {
	border-bottom: 1px solid #ccccbb;
}

#secondaryNav, .navBG {
	background: #FFF;
}

#secondaryNav {
	padding:10px 0;
	margin:0;

}

#secondaryNav a {
	color: #8f8f8f;
	padding: 0 10px;
}

#secondaryNav li.selected {
	font-weight: bold;
}

#newProgramBtn {
	display: block;
	background: rgb(188,214,160);
	background: -moz-linear-gradient(top, rgba(188,214,160,1) 0%, rgba(155,192,135,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(188,214,160,1) 0%,rgba(155,192,135,1) 100%); 
	background: linear-gradient(to bottom, rgba(188,214,160,1) 0%,rgba(155,192,135,1) 100%);
	border:1px solid #668952;
	width: 90px;
	height: 90px;
	margin:0;
	padding:0;
	color: #000;
	font-size: 1em;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(224,255,204,1);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(224,255,204,1);
	box-shadow: inset 0px 1px 1px 0px rgba(224,255,204,1);
	line-height: 1.8em;
}

#newProgramBtn span {
	text-shadow: 0px 1px 3px #7F8E6B;
	display: block;
	width:90px;
	height:90px;
	line-height: 80px;
	font-size: 3em;
	color: #FFF;
}

#newProgramBtn:hover {
	background: rgb(158,178,133);
	background: -moz-linear-gradient(top, rgba(158,178,133,1) 0%, rgba(114,140,99,1) 100%);
	background: -webkit-linear-gradient(top, rgba(158,178,133,1) 0%,rgba(114,140,99,1) 100%);
	background: linear-gradient(to bottom, rgba(158,178,133,1) 0%,rgba(114,140,99,1) 100%);
}

#newProgramBtn .grow { transition: all .2s; }
#newProgramBtn .grow:hover { transform: scale(1.25); }

#newProgramBtn:focus {
	outline:0;
}

.card {
	background-color: #FFF;
	border-radius:6px;
	border: 1px solid #DDD;
	margin: 5px 0;
	padding: 0;
	position: relative;
}

.card h1 {
	font-size:1.5em;
	padding:0;
	margin:0;
}

.card small {
	color: #999;
}

.card .row {
	padding: 15px 35px;
}

.card .row2 {
	padding: 10px 20px;
}

.card .editBtn {
	position: absolute;
	top:15px;
	right:15px;
	width: 20px;
	height: 20px;
	background: url("/assets/pencil_icons.png") 0 -17px no-repeat;
	border-radius: 5px;
    border: 1px solid #EEE;
}

.card .editBtn:hover {
	background-position: 0 0;
	border: 1px solid #999;
}

div[d3-bars] { 
	display: inline;
}

a.moreBtn:link, a.moreBtn:visited, a.moreBtn:active {
	color: #999582;
	text-decoration: none;
}

a.moreBtn:hover {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.totalSalesTable {
	font-size: 0.7em;
	width:100%;
	background: #FBFBF6;
	margin:0;
	border-collapse: separate;
    border-spacing: 8px 0px;
	border-top: 1px solid #E7E3D1;
	border-bottom: 1px solid #E7E3D1;
}

.totalSalesTable>tbody {
	font-size: 1.3em;
}

.totalSalesTable>tbody>tr>td:first-child {
	color: #999582;
}

.pricingOptionsTable {
	font-size: 0.7em;
}

.pricingOptionsTable>tbody>tr>td {
	line-height: 2.2em;
	padding: 0;
	border-color: #EEE;
}

.totalSalesTable>thead>tr>th,
.pricingOptionsTable>thead>tr>th {
	padding: 1em 0 0.5em 0;
	text-align: center;
	color:#A0A092;
	border:0;
}

.totalSalesTable>thead>tr>th:first-child,
.pricingOptionsTable>thead>tr>th:first-child {
	text-align: left;
}


.programsTable {
	margin-top:30px;
	color: #66625e;
}

.programsTable thead {
	color: #b5afa8;
}


