<!doctype html>
<html lang="en" ng-app="urbanYogaApp">

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Urban Yoga</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/app.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
	</head>

	<body>
		<header class="container-fluid">
			<div class="row border-bottom">
				<div class="col-md-3">
					<img src="assets/logo.png" alt="Urban Yoga" class="logo"></img>
				</div>
				<div class="col-md-9">
					<nav id="primaryNav">
						<ul>
							<li class="selected"><a href="#">Dashboard</a></li>
							<li><a href="#">Sign In</a></li>
							<li><a href="#">Classes</a></li>
							<li><a href="#">Workshops</a></li>
							<li><a href="#">Appointments</a></li>
							<li><a href="#">Client Home</a></li>
							<li><a href="#">Retail</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row row-centered navBG">
				<div class="col-md-8 col-centered">
					<nav id="secondaryNav">
						<ul>
							<li><a href="#">Dashboard</a></li>
							<li class="selected"><a href="#">Business Overview</a></li>
							<li><a href="#">Schedule</a></li>
							<li><a href="#">Reports</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<section class="container" ng-controller="programsCtrl">
		<div ng-repeat="month in months">
			{{month}}
		</div>
				<div class="row">
					<div class="col-md-2">
						<button id="newProgramBtn" class="btn btn-success"><span class="glyphicon glyphicon-plus grow" aria-hidden="true"></span>New Program</button>
					</div>
				</div>
				<div class="row">
				<div class="col-md-3" ng-repeat="program in programs">
					<div class="card">
						<h1>{{program.Name}}</h1>
						
						<div d3-bars month="Jan" previousYear="{{value[0]}}" currentYear="{{value[1]}}"></div>
						
						</div>
						<!-- Sales Graph -->
						<!-- Sales Data -->
						<a href="#">more</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-2">
					<table class="table">
						<thead>
							<tr>
								<th>All Programs</th>
								<th>Monthly Sales</th>
								<th>Monthly Attendance</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Open Practice</td>
								<td>$572.00</td>
								<td>276 visits</td>
							</tr>
							<tr>
								<td>Yoga Videos</td>
								<td>$391.32</td>
								<td>82 views</td>
							</tr>
						</tbody>
					</table>
				</div>				
			</div>		
		</section>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/services.js"></script>
</body>

</html>