<!doctype html>
<html lang="en" ng-app="urbanYogaApp">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Urban Yoga</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/services.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-multiselect.css">
	    <link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<header class="container-fluid">
			<div class="row border-bottom">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<img src="assets/logo.png" alt="Urban Yoga" class="logo"></img>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9">
					<nav id="primaryNav">
						<ul>
							<li class="selected"><a href="#">Dashboard</a></li>
							<li><a href="#">Sign In</a></li>
							<li><a href="#">Classes</a></li>
							<li><a href="#">Workshops</a></li>
							<li><a href="#">Appointments</a></li>
							<li><a href="#">Client Home</a></li>
							<li><a href="#">Retail</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row row-centered navBG">
				<div class="col-xs-12 col-sm-12 col-md-8 col-centered">
					<nav id="secondaryNav">
						<ul>
							<li><a href="#">Dashboard</a></li>
							<li class="selected"><a href="#">Business Overview</a></li>
							<li><a href="#">Schedule</a></li>
							<li><a href="#">Reports</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<section class="container" ng-controller="programsCtrl">
			<div class="col-xs-12 col-sm-12 col-md-2">
				<button id="newProgramBtn" class="btn btn-success" data-toggle="modal" data-target="#addNewProgram"><span class="glyphicon glyphicon-plus grow" aria-hidden="true"></span>New Program</button>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-10">
				<div class="row">
					<div class="col-md-4" ng-repeat-start="program in programs">
						<div class="card">
						<button class="editBtn"></button>
						<div class="row">
							<h1>{{program.Name}}</h1>
							<small>Sales by Month</small>
							<d3-bars previousYear="{{program.Sales.PreviousYear}}" currentYear="{{program.Sales.CurrentYear}}"></d3-bars>
						</div>

						<table class="totalSalesTable">
							<thead>
								<tr>
									<th>Total Monthly</th>
									<th>Current</th>
									<th>1-Year</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Sales</td>
									<td>{{program.TotalMonthlySales | currency}}</td>
									<td><img src="/assets/spark_line_2.png" alt="spark line"></td>
								</tr>
							</tbody>
						</table>
						<div class="row row2">
							<a role="button" class="moreBtn" data-toggle="collapse" href="#p_id_{{program.ProgramID}}" aria-expanded="false" aria-controls="p_id_{{program.ProgramID}}">more</a>
							
							<div class="collapse" id="p_id_{{program.ProgramID}}">
								<table class="pricingOptionsTable table">
									<thead>
										<tr>
											<th>Price Name</th>
											<th>Current</th>
											<th>1-Year</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="pricingOption in pricingOptions">
											<td ng-if-start="pricingOption.ProgramID == program.ProgramID">{{pricingOption.Name}}</td>
											<td>{{pricingOption.Sales | currency}}</td>
											<td ng-if-end><img src="/assets/spark_line.png" alt="spark line"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						</div>
					</div>
					<div class="clearfix" ng-if="$index%3 == 2"></div>
					<div ng-repeat-end=""></div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table programsTable">
							<thead>
								<tr>
									<th>All Programs</th>
									<th>Monthly Sales</th>
									<th>Monthly Attendance</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="program in programs">
									<td>{{program.Name}}</td>
									<td>{{program.TotalMonthlySales | currency}}</td>
									<td>{{program.MonthlyAttendance}} visits</td>
								</tr>
							</tbody>
						</table>
					</div>				
				</div>		
			</div>
		</section>

		<!-- New Program Modal -->
		<div class="modal fade" id="addNewProgram" tabindex="-1" role="dialog" aria-labelledby="addNewProgramLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="addNewProgramLabel"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Add a New Program</h4>
					</div>
					<div class="modal-body">
						<form action="#">
							<label for="programType">Program Type</label>
							<div class="form-group">
								<label class="radio-inline"><input type="radio" name="programType">Count Series</label>
								<label class="radio-inline"><input type="radio" name="programType">Time Series</label>
								<label class="radio-inline"><input type="radio" name="programType">Membership</label>
							</div>
							<div class="form-group">
								<label for="programName">Program Name</label>
								<input type="text" class="form-control" id="programName" placeholder="(i.e. Yoga Classes)">
							</div>
							<div class="form-group">
								<label for="defaultCapacity">Default Capacity</label>
								<input type="number" min="0" class="form-control" id="defaultCapacity" placeholder="(i.e. 100)">
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label>
										<input type="checkbox"> Allow online scheduling
									</label>
								</div>
							</div>
							<label for="modalProgramTabs">Tabs this program is on</label>
							<select id="modalProgramTabs" multiple="multiple">
							    <option value="classes">Classes</option>
							    <option value="appointments">Appointments</option>
							    <option value="workshops">Workshops</option>
							    <option value="outside">Outside</option>
							    <option value="inside">Inside</option>
							    <option value="gym">Gym</option>
							</select>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>